##########################################
## !!! ALL in ONE Rule
##########################################
application:

input:
  # HageZi Ultimate
  - name: HageZi-Ultimate
    path: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/ultimate.txt
    type: easylist # AdBlock Plus/AdGuard format

  # 1Hosts Xtra
  - name: 1Hosts-Xtra
    path: https://badmojr.github.io/1Hosts/Xtra/adblock.txt
    type: easylist # AdBlock Plus/AdGuard format

  # Shallalist (NOTE: This is a compressed .tar.gz file for a huge blocklist, 
  # which the AD Filter Subscriber tool might not natively handle directly as a simple text subscription. 
  # You might need to manually extract and host the list, or exclude it.)
  # - name: Shallalist
  #   path: http://www.shallalist.de/Downloads/shallalist.tar.gz
  #   type: ??? # Skipping this one as the tool likely needs a raw text list URL.

  # OISD Big
  - name: OISD-Big
    path: https://big.oisd.nl/
    type: easylist # AdBlock Plus/AdGuard format

  # BadBlock Plus
  - name: Badblock-Plus
    path: https://badblock.celenity.dev/abp/badblock_plus.txt
    type: easylist # AdBlock Plus/AdGuard format

  # Energized Hosts
  - name: Energized-Hosts
    path: https://raw.githubusercontent.com/EnergizedProtection/EnergizedHosts/master/EnergizedUnified/energized/hosts
    type: hosts # Hosts format

  # DandelionSprout Compilation IPs (NOTE: This is a GitHub *HTML* link, not a *raw* link. 
  # The tool needs the raw content link. The actual raw link should be used.)
  # Corrected raw link:
  - name: DandelionSprout-AGH-IPs
    path: https://raw.githubusercontent.com/DandelionSprout/adfilt/master/AdGuard%20Home%20Compilation%20List/AdGuardHomeCompilationListIPs.txt
    type: hosts # Likely hosts format for IPs

  # AdGuard Base Filter (Adservers)
  - name: AdGuard-Base-Adservers
    path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/BaseFilter/sections/adservers.txt
    type: easylist

  # AdGuard Popup Filter
  - name: AdGuard-Popup-Filter
    path: https://raw.githubusercontent.com/AdGuardTeam/AdGuardSDNSFilter/refs/heads/gh-pages/Filters/adguard_popup_filter.txt
    type: easylist

  # AdGuard Hostlist Filter 1
  - name: AdGuard-Hostlist-1
    path: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    type: easylist

  # AdGuard Base Filter (First-party Adservers)
  - name: AdGuard-Base-FirstParty
    path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/BaseFilter/sections/adservers_firstparty.txt
    type: easylist

  # AdGuard Spyware Filter (Mobile)
  - name: AdGuard-Spyware-Mobile
    path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/SpywareFilter/sections/mobile.txt
    type: easylist

  # AdGuard Mobile Filter (Adservers)
  - name: AdGuard-Mobile-Adservers
    path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/MobileFilter/sections/adservers.txt
    type: easylist

  # AdGuard Social Filter
    - name: AdGuard-Social-Filter
      path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_4_Social/filter.txt
      type: easylist
# BarbBlock Hosts File
  - name: BarbBlock
    path: https://paulgb.github.io/BarbBlock/blacklists/hosts-file.txt
    type: hosts

  # Someone Who Cares Hosts
  - name: SomeoneWhoCares
    path: https://someonewhocares.org/hosts/hosts
    type: hosts

  # DRSDavidSoft Iranian Unwanted
  - name: DRSDavidSoft-Iranian
    path: https://raw.githubusercontent.com/DRSDavidSoft/additional-hosts/master/domains/blacklist/unwanted-iranian.txt
    type: hosts

  # FadeMind 2o7Net Hosts
  - name: FadeMind-2o7Net
    path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
    type: hosts

  # Firebog Admiral
  - name: Firebog-Admiral
    path: https://v.firebog.net/hosts/Admiral.txt
    type: hosts

  # Firebog NeoHosts Basic
  - name: Firebog-NeoHosts
    path: https://v.firebog.net/hosts/neohostsbasic.txt
    type: hosts

  # Goooler 1024 Hosts
  - name: Goooler-1024
    path: https://raw.githubusercontent.com/Goooler/1024_hosts/refs/heads/master/hosts
    type: hosts

  # hblock Adblock Hosts
  - name: hblock-Adblock
    path: https://hblock.molinero.dev/hosts_adblock.txt
    type: hosts

  # Hostsfile.org Hosts
  - name: Hostsfile-org
    path: https://www.hostsfile.org/Downloads/hosts.txt
    type: hosts

  # Developer Dan AMP Hosts Extended
  - name: DeveloperDan-AMP
    path: https://www.github.developerdan.com/hosts/lists/amp-hosts-extended.txt
    type: hosts

  # Macedonian Pi-hole Blocklist
  - name: Macedonian-Blocklist
    path: https://raw.githubusercontent.com/cchevy/macedonian-pi-hole-blocklist/master/hosts.txt
    type: hosts

  # Winhelp 2002 MVPS Hosts
  # NOTE: The link appears twice, the second is a duplicate.
  - name: MVPS-Hosts
    path: http://winhelp2002.mvps.org/hosts.txt
    type: hosts

  # PGL Yoyo Adservers
  # NOTE: This uses a complex query string, but the output format should be hosts.
  - name: PGL-Yoyo-Adservers
    path: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&startdate%5Bday%5D=06&startdate%5Bmonth%5D=06&startdate%5Byear%5D=2003&useip=0.0.0.0
    type: hosts

  # Polish Filters Team KADhosts
  - name: PolishFilters-KADhosts
    path: https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
    type: hosts

  # StevenBlack Hosts (Standard)
  - name: StevenBlack-Standard
    path: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    type: hosts

  # VeleSila Yhosts
  - name: VeleSila-Yhosts
    path: https://raw.githubusercontent.com/VeleSila/yhosts/master/hosts
    type: hosts

  # Firebog W3KBL Static
  - name: Firebog-W3KBL
    path: https://v.firebog.net/hosts/static/w3kbl.txt
    type: hosts

  # Vokins Yhosts
  - name: Vokins-Yhosts
    path: https://raw.githubusercontent.com/vokins/yhosts/master/hosts
    type: hosts

    - name: 'blank'
      path: 'blank'
      type: hosts

    - name: 'blank'
      path: 'blank'
      type: hosts

    - name: 'blank'
      path: 'blank'
      type: hosts

  output:
    #文件头配置，将自动作为注释添加至每个规则文件开始
    #可使用占位符 ${name}、${type}、${desc} 以及 ${date} (当前日期)、${total} (规则总数)
    file_header: |
      ADFS AdBlock ${type}
      Last Modified: ${date}
      Total Size: ${total}
      Homepage: https://github.com/fordes123/ad-filters-subscriber/

    #输出规则文件列表 （！注意缩进，且每个类型只能输出一个文件）
    files:
      - name: easylist.txt     #必要参数: 文件名
        type: easylist         #必要参数: 文件类型: easylist、dnsmasq、clash、smartdns、hosts
        file_header:           #可选参数: 文件头配置，将自动作为注释添加至每个规则文件开始 (此处优先于 output.file_header)
        desc: 'ADFS EasyList'  #可选参数: 文件描述，可在file_header中通过 ${} 中使用
        filter:
          - basic              #基本规则，不包含任何控制、匹配符号, 可以转换为 hosts
          - wildcard           #通配规则，仅使用通配符
          - unknown            #其他规则，如使用了正则、高级修饰符号的规则，这些规则目前无法转换为其他格式

        rule:                  #可选参数: 限定此文件使用的规则源，如果不指定则使用 input 中的所有规则源
          - Subscription 1
          - Subscription 2

      - name: dns.txt
        type: easylist
        filter:
          - basic
          - wildcard

      - name: dnsmasq.txt
        type: dnsmasq

      - name: clash.yaml
        type: clash

      - name: smartdns.txt
        type: smartdns

      - name: hosts.txt
        type: hosts


  # 程序运行配置（可选）
  # ！删除即使用默认配置
  config:

    expected_quantity: 2000000  #预期规则数量
    fault_tolerance: 0.001 #容错率
    warn_limit: 6 #警告阈值, 原始规则长度小于该值时会输出警告日志

    # 域名检测，启用时将进行解析以验证域名有效性
    # ！开启此功能可能导致处理时间大幅延长
    # ！仅支持特定规则，具体原因请查看项目主页说明
    domain-detect:
      enable: false   # 是否启用
      timeout: 2000   # 查询超时（毫秒）
      concurrency: 10 # 并发查询数
      cache-ttl-min: 600            # 缓存最小TTL（秒）
      cache-ttl-max: 86400          # 缓存最大TTL（秒）
      cache-negative-ttl: 300       # 失败结果缓存TTL（秒）
      provider:       # 使用的 DNS 服务器，仅支持 IP，多个之间具备优先级; 为空则使用默认DNS
        - 223.5.5.5

    # 排除指定内容
    # 在解析结束后，规则内容命中此列表将直接认定为无效
    exclude:
      - "www.example.org"

    # 通过文件收集程序认定无效的规则，用于排查问题
    tracking:
      enable: true
      path: logs/tracking.list
