ad-filters-subscriber:
  filter:
    source:
      urls:
        ##########################################
        ## !!! BIG MERGE LISTS (EasyList/Adblock/DNS formats)
        ##########################################
        - name: HageZi-Ultimate
          path: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/ultimate.txt
          type: easylist
        - name: HageZi-DynDNS
          path: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/dyndns.txt
          type: easylist
        - name: HageZi-Fake
          path: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/fake.txt
          type: easylist
        - name: HageZi-TIF
          path: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/tif.txt
          type: easylist
        - name: OISD-Big
          path: https://big.oisd.nl/
          type: easylist
        - name: Badblock-Plus
          path: https://badblock.celenity.dev/abp/badblock_plus.txt
          type: easylist
        - name: Badblock-NSA-NG
          path: https://badblock.celenity.dev/abp/nsa-blocklist-ng.txt
          type: easylist
        - name: AntiAd-EasyList
          path: https://anti-ad.net/easylist.txt
          type: easylist
        - name: Fanboy-CookieMonster
          path: https://secure.fanboy.co.nz/fanboy-cookiemonster.txt
          type: easylist
        - name: AntiAd-Domains
          path: https://anti-ad.net/domains.txt
          type: hosts
        - name: Firebog-EasyList
          path: https://v.firebog.net/hosts/Easylist.txt
          type: easylist
        - name: Firebog-AdguardDNS
          path: https://v.firebog.net/hosts/AdguardDNS.txt
          type: easylist
        - name: Firebog-Admiral
          path: https://v.firebog.net/hosts/Admiral.txt
          type: hosts
        - name: Firebog-W3KBL
          path: https://v.firebog.net/hosts/static/w3kbl.txt
          type: hosts

        ##########################################
        ## !!! EASYLIST & PRIVACY CORE
        ##########################################
        - name: EasyList-Main
          path: https://easylist.to/easylist/easylist.txt
          type: easylist
        - name: EasyPrivacy-Main
          path: https://easylist.to/easylist/easyprivacy.txt
          type: easylist
        - name: EasyList-AntiAdblock
          path: https://raw.githubusercontent.com/easylist/antiadblockfilters/master/antiadblockfilters/antiadblock_english.txt
          type: easylist
        - name: EasyList-Adservers-Popup
          path: https://raw.githubusercontent.com/easylist/easylist/master/easylist/easylist_adservers_popup.txt
          type: easylist
        - name: EasyPrivacy-General-Trackers
          path: https://raw.githubusercontent.com/easylist/easylist/master/easyprivacy/easyprivacy_trackingservers_general.txt
          type: easylist
        - name: EasyPrivacy-Thirdparty-Trackers
          path: https://raw.githubusercontent.com/easylist/easylist/master/easyprivacy/easyprivacy_trackingservers_thirdparty.txt
          type: easylist
        - name: ABP-Anti-CV
          path: https://easylist-downloads.adblockplus.org/abp-filters-anti-cv.txt
          type: easylist

        ##########################################
        ## !!! UBLOCK ORIGIN ASSETS
        ##########################################
        - name: UBO-Unbreak
          path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt
          type: easylist
        - name: UBO-ResourceAbuse
          path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/resource-abuse.txt
          type: easylist
        - name: UBO-Privacy
          path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/privacy.txt
          type: easylist
        - name: UBO-Badware
          path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/badware.txt
          type: easylist
        - name: UBO-Filters
          path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt
          type: easylist

        ##########################################
        ## !!! ADGUARD OFFICIAL FILTERS
        ##########################################
        - name: AG-Base-Filter
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/BaseFilter/sections/adservers.txt
          type: easylist
        - name: AG-Base-FirstParty
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/BaseFilter/sections/adservers_firstparty.txt
          type: easylist
        - name: AG-DNS-Filter
          path: https://filters.adtidy.org/extension/chromium/filters/15.txt
          type: easylist
        - name: AG-DNS-Popup-Hosts
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/Hostlists/adguard_popup_hosts.txt
          type: hosts
        - name: AG-Mobile-Ads
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/MobileFilter/sections/adservers.txt
          type: easylist
        - name: AG-Social-Media
          path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_4_Social/filter.txt
          type: easylist
        - name: AG-Spyware-Mobile
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/SpywareFilter/sections/mobile.txt
          type: easylist
        - name: AG-Tracking-Mobile
          path: https://raw.githubusercontent.com/AdguardTeam/AdguardFilters/master/TrackingFilter/sections/mobile.txt
          type: easylist
        - name: Adguard-CNAME-Combined
          path: https://raw.githubusercontent.com/AdguardTeam/cname-trackers/master/data/combined_disguised_trackers.txt
          type: easylist

        ##########################################
        ## !!! HOSTS FILE COLLECTIONS
        ##########################################
        - name: BarbBlock
          path: https://raw.githubusercontent.com/paulgb/BarbBlock/master/blacklists/hosts-file.txt
          type: hosts
        - name: BarbBlock-Hosts-Main
          path: https://raw.githubusercontent.com/paulgb/BarbBlock/refs/heads/main/blocklists/hosts-file.txt
          type: hosts
        - name: SomeoneWhoCares-Hosts
          path: https://someonewhocares.org/hosts/hosts
          type: hosts
        - name: SomeoneWhoCares-IPv6
          path: https://someonewhocares.org/hosts/ipv6/hosts
          type: hosts
        - name: SomeoneWhoCares-Zero
          path: https://someonewhocares.org/hosts/zero/hosts
          type: hosts
        - name: StevenBlack-Hosts
          path: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
          type: hosts
        - name: MVPS-Hosts
          path: http://winhelp2002.mvps.org/hosts.txt
          type: hosts
        - name: DeveloperDan-AMP
          path: https://www.github.developerdan.com/hosts/lists/amp-hosts-extended.txt
          type: hosts
        - name: Energized-Hosts
          path: https://raw.githubusercontent.com/EnergizedProtection/EnergizedHosts/master/EnergizedUnified/energized/hosts
          type: hosts
        - name: Energized-Porn
          path: https://raw.githubusercontent.com/EnergizedProtection/EnergizedHosts/master/extensions/porn/hosts
          type: hosts
        - name: PGL-Yoyo-Simplified
          path: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&mimetype=plaintext&useip=0.0.0.0
          type: hosts
        - name: PGL-Yoyo-Legacy
          path: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&startdate%5Bday%5D=06&startdate%5Bmonth%5D=06&startdate%5Byear%5D=2003&useip=0.0.0.0
          type: hosts
        - name: Goooler-1024
          path: https://raw.githubusercontent.com/Goooler/1024_hosts/refs/heads/master/hosts
          type: hosts
        - name: hblock-Adblock
          path: https://hblock.molinero.dev/hosts_adblock.txt
          type: hosts
        - name: Hostsfile-org
          path: https://www.hostsfile.org/Downloads/hosts.txt
          type: hosts
        - name: Macedonian-Blocklist
          path: https://raw.githubusercontent.com/cchevy/macedonian-pi-hole-blocklist/master/hosts.txt
          type: hosts
        - name: Mahakala-Adblock
          path: https://adblock.mahakala.is/
          type: hosts
        - name: VeleSila-Yhosts
          path: https://raw.githubusercontent.com/VeleSila/yhosts/master/hosts
          type: hosts
        - name: Vokins-Yhosts
          path: https://raw.githubusercontent.com/vokins/yhosts/master/hosts
          type: hosts
        - name: NextDNS-CNAME
          path: https://raw.githubusercontent.com/nextdns/cname-cloaking-blocklist/master/domains
          type: hosts
        - name: tiuxo-hosts
          path: https://raw.githubusercontent.com/tiuxo/hosts/master/ads
          type: hosts
        - name: YousList-Hosts
          path: https://raw.githubusercontent.com/yous/YousList/master/hosts.txt
          type: hosts
        - name: HostsVN-Main
          path: https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
          type: hosts

        ##########################################
        ## !!! SPECIFIC / REGIONAL / UTILITY LISTS
        ##########################################
        - name: DRSDavidSoft-Iranian
          path: https://raw.githubusercontent.com/DRSDavidSoft/additional-hosts/master/domains/blacklist/unwanted-iranian.txt
          type: hosts
        - name: PolishFilters-KADhosts
          path: https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
          type: hosts
        - name: FiltersHeroes-KADhosts
          path: https://raw.githubusercontent.com/FiltersHeroes/KADhosts/master/KADhosts.txt
          type: easylist
        - name: AG-Russian-Filter-Reg
          path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_1_Russian/filter.txt
          type: easylist
        - name: AG-German-Filter-Reg
          path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_6_German/filter.txt
          type: easylist
        - name: AG-Dutch-Filter-Reg
          path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_8_Dutch/filter.txt
          type: easylist
        - name: AG-Chinese-Filter-Reg
          path: https://raw.githubusercontent.com/AdguardTeam/FiltersRegistry/master/filters/filter_224_Chinese/filter.txt
          type: easylist
        - name: Liste-FR
          path: https://easylist-downloads.adblockplus.org/liste_fr.txt
          type: easylist

        ##########################################
        ## !!! FADEMIND HOSTS.EXTRAS
        ##########################################
        - name: FadeMind-2o7Net
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
          type: hosts
        - name: FadeMind-Hosts-Dead
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Dead/hosts
          type: hosts
        - name: FadeMind-Hosts-Risk
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
          type: hosts
        - name: FadeMind-Hosts-Spam
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
          type: hosts
        - name: FadeMind-Antipopads-re
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/antipopads-re/hosts
          type: hosts
        - name: FadeMind-AnudeepND-Adservers
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/anudeepND-blacklist-adservers/hosts
          type: hosts
        - name: FadeMind-AnudeepND-Facebook
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/anudeepND-blacklist-facebook/hosts
          type: hosts
        - name: FadeMind-Blocklists-Facebook
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/blocklists-facebook/hosts
          type: hosts
        - name: FadeMind-GoodbyeAds-Spotify
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/GoodbyeAds-Spotify-AdBlock-Extension/hosts
          type: hosts
        - name: FadeMind-GoodbyeAds-YouTube
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/GoodbyeAds-YouTube-Adblock-Extension/hosts
          type: hosts
        - name: FadeMind-Lightswitch05-Extended
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/Lightswitch05-ads-tracking-extended/hosts
          type: hosts
        - name: FadeMind-OISD-NL
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/oisd.nl/hosts
          type: hosts
        - name: FadeMind-OSINT-DigitalSide
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/osint.digitalside.it/hosts
          type: hosts
        - name: FadeMind-UncheckyAds
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
          type: hosts
        - name: FadeMind-What-Zit-Tooya
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/What-Zit-Tooya-Ad-Block/hosts
          type: hosts
        - name: FadeMind-WindowsSpyBlocker-SPY
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/WindowsSpyBlocker-SPY/hosts
          type: hosts
        - name: FadeMind-WindowsSpyBlocker-UPDATE
          path: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/WindowsSpyBlocker-UPDATE/hosts
          type: hosts

        ##########################################
        ## !!! WINDOWS SPY BLOCKER
        ##########################################
        - name: WindowsSpyBlocker-Hosts-Extra
          path: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/extra.txt
          type: hosts
        - name: WindowsSpyBlocker-Hosts-IPv6-Spy
          path: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/hosts-ipv6-spy.txt
          type: hosts
        - name: WindowsSpyBlocker-Hosts-Spy
          path: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/hosts-spy.txt
          type: hosts
        - name: WindowsSpyBlocker-Hosts-Update
          path: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/hosts-update.txt
          type: hosts

    output:
      file_header: |
        ADFS AdBlock ${type}
        Last Modified: ${date}
        Total Size: ${total}
        Homepage: https://github.com/fordes123/ad-filters-subscriber/

      files:
        # EasyList format (for browsers/AdGuard)
        - name: easylist.txt
          type: easylist
          desc: 'ADFS EasyList'
          filter:
            - basic
            - wildcard
            - unknown

        # DNS filtering (basic and wildcard)
        - name: dns.txt
          type: easylist
          filter:
            - basic
            - wildcard

        # Dnsmasq format (for routers/OpenWrt)
        - name: dnsmasq.txt
          type: dnsmasq
          filter:
            - basic
            - wildcard

        # Hosts file format (for Pi-Hole/system hosts files)
        - name: hosts.txt
          type: hosts
          filter:
            - basic

        # Clash format (for proxy clients)
        - name: clash.yaml
          type: clash
          filter:
            - basic
            - wildcard

        # SmartDNS format
        - name: smartdns.txt
          type: smartdns
          filter:
            - basic
            - wildcard

    config:
      expected_quantity: 2000000
      fault_tolerance: 0.0001
      warn_limit: 6

      domain-detect:
        enable: false
        timeout: 5000
        concurrency: 10
        cache-ttl-min: 600
        cache-ttl-max: 86400
        cache-negative-ttl: 300
        provider:
          - 223.5.5.5
          - 1.1.1.1
          - 8.8.8.8

      exclude:
        - "www.example.org"

      tracking:
        enable: true
        path: logs/tracking.list
